<meta charset="utf-8">
<head></head>
<div
	ng-controller="MaterialCreateController as MaterialCreate">
	<div class="message">添加原料</div>
	<div>
			<table id="table-style" style="margin: 50px auto">
				<tbody>
					<tr>
						<th style="width:80px" class="labelformat">原料名</th>
						<td><input style="width:200px" class="input-block-level" type="text"
							ng-model="materialName" ng-change="CheckMaterialName()" required /></td>
						<td style="color: red">*</td>
					</tr>
					<tr>
						<td></td>
						<td><label ng-show="existedMaterialName"
							style="text-align: center; font-weight: bold; color: red">原料名已存在！请重新输入。</label>
						</td>
						<td></td>
					</tr>
					<tr>
						<th style="width:80px" class="labelformat">说明</th>
						<td><textarea  style="width:200px" style="min-height: 90px"
								class="input-block-level" type="text"
								ng-model="materialDescription" /></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td><button class="btn btn-large btn-primary"
								ng-click="MaterialCreate.createMaterial()">
								<span class="glyphicon glyphicon-upload"></span> 提交
							</button>
							<button class="btn btn-large btn-primary"
								ng-click="MaterialCreate.backward()">
								<span class="glyphicon glyphicon-arrow-left"></span> 返	回
							</button>
							</td>
						<td></td>
					</tr>
				</tbody>
			</table>
	</div>
</div>