<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<div ng-controller="MaterialListController as MaterialList">
	<div class="right-align">
		<button class="btn btn-large btn-primary" style="float:right;"
			ng-click="MaterialList.createMaterial()">
			<span class="glyphicon glyphicon-plus"></span> 新增原料
		</button>
	</div>
	<table datatable="ng" dt-options="MaterialList.dtOptions"
		dt-column-defs="MaterialList.dtColumnDefs" class="row-border hover" id="table-style">
		<thead>
			<tr>
			    <th style="width:40px">序号</th>
				<th style="width:25%">名称</th>
				<th>描述</th>
				<th style="width:100px">编辑/删除</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="material in MaterialList.materials">
			   <td>{{$index+1}}</td>
			   <td>{{material.name}}</td>
			   <td>{{material.description}}</td>
				<td>
					<button type="button"
						ng-click="MaterialList.updateMaterial($index)"
						class="btn btn-warning">
						<i class="fa fa-edit"></i>
					</button>
					<button type="button"
						ng-click="MaterialList.deleteMaterial($index)"
						class="btn btn-danger">
						<i class="fa fa-times"></i>
					</button>					
				</td>
			</tr>
		</tbody>
	</table>
</div>